
<h2>
  <a target="_blank" href="{{root}}/_query/entity2images?key={{entity_name}}">Here</a>
  <a target="_blank" href="http://dbpedia.org/page/{{entity_name}}">DBPedia</a>
  <a target="_blank" href="https://en.wikipedia.org/wiki/{{entity_name}}">Wikipedia</a>
  {{entity_name}}
  #u {{users}}
</h2>

{% for purl, murl in images %}
<a href="{{purl}}" target='_blank'><img src="{{murl}}" /></a>
{% endfor %}
