<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="generator" content="gvim" />
<meta name="author" content="" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
<script src="//cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.css" />
<script src="./static/index.js"></script>
<link rel="stylesheet" type="text/css" href="./static/index.css">
<title>YFCC100M NER</title>
</head>
<body>
  <p><small> session id: {{session}} </small></p>
<div id='upper'>
  <div id='tree'>
    <div>
      <input class="search-input form-control"></input>
    </div>
    <div id="jstree">
      <h2>Loading Taxonomy .. </h2>
    </div>
  </div>
  <div id='entity-container'>
    <ol id='entity'>
      <li><a href="#">#</a></li>
    </ol >
  </div>

</div>

<div id='imgs'>
</div>

</body>
</html>
