@charset "utf-8";

/**
 * index.css
 *
 * @author Yuncheng Li (raingomm at gmail.com)
 * @version 2016/04/30
 */
html,body{margin:10; padding:10; }

div#tree {
  max-width: 500px;
  margin: 20px;
  float: left;
  overflow-x: scroll;
}
div#entity-container {
  float: left;
  margin: 20px;
  max-width: 300px;
}
div#upper {
  height: 100%;
  overflow-x: scroll;
  border-style: solid;
  border-right: thick dotted #ff0000;
  float:left;
}
img {
  height: 200px;
  margin: 5px;
}

table {
  border-collapse: collapse;
  border: 1px;
}
